logs
*.log
npm-debug.log*
coverage
jspm_packages
.npm
.node_repl_history
.DS_Store
node_modules/
coverage/
.coveralls.yml
website/
doc/
jsdoc.json
test/
.travis.yml
.jshintrc
.gitignore
.jshintignore
src/
